In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('car driving risk analysis.csv')

In [3]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [4]:
df.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

In [5]:
df.shape

(15, 2)

In [6]:
df.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of     speed   risk
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False>

In [7]:
df.isnull().any()

speed    False
risk     False
dtype: bool

In [9]:
df.isnull().sum()

speed    0
risk     0
dtype: int64

In [10]:
x=df[['speed']]
y=df['risk']

In [11]:
x

    speed
0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30

In [12]:
y

0     95
1     20
2     98
3     60
4     72
5     10
6      7
7     85
8     45
9     91
10    82
11    59
12    93
13    18
14     2
Name: risk, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.40,random_state=1)

In [16]:
xtrain

    speed
1      90
13     95
0     200
14     30
9     260
8     190
12    310
11    185
5     115

In [18]:
xtest

    speed
3     110
7     230
6      50
2     300
10    290
4     240

In [19]:
from sklearn.linear_model import LinearRegression

In [21]:
reg= LinearRegression()

In [22]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [23]:
reg.predict(xtest)

array([ 27.15301215,  73.82259334,   3.81822156, 101.04651569,
        97.15738393,  77.7117251 ])

In [31]:
reg.predict([[80]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.48561686])

In [29]:
r2_score = reg.score(xtest,ytest)
print(r2_score*100,'%')

71.33824900141748 %